<html>
<head>
    <title>

    </title>



    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <style>
    .navbar-form {
        overflow: auto;
    }
    .navbar-form .form-control {
        display: inline-block;
        width: 25%; 
        vertical-align: middle;
    }
    .navbar-form .form-group {
        display: inline;
    }
    .mystyle {
        display: inline;
        font-family: "Lucida Console";
        font-size: 18;
        font-color: #ffffff;

    }


    .container {
        width:500px;
    }



    </style>


</head>
<body background = "/images/background.jpg">
    <br>
    <br>
    <br>
    <br>
    <div align = center>
        <div class = "mystyle">
            Stuff and stuff
        </div>
        <img src = "/images/stickman.png" width = "150px" height = "150px">
        <div class = "mystyle">
            You can put stuff here if you want<br><br><br>
        </div>


        <div class="container">
            <form method="POST" action="main_redirect">
                <div class="form-group">
                    <div class="mystyle">
                        <label>What school do you go to?</label>
                    </div>
                    <input class="form-control autocomplete" placeholder="Enter a school" name="university"/>
                </div>



                <br>
                <br>



                <div class="form-group">
                    <div class="mystyle">
                        <label>What faculty are you in?</label>
                    </div>
                    <input class="form-control autocomplete2" placeholder="Enter a faculty" name="faculty"/>
                </div>
                <br>

                <a href="main"><button type="submit" class="btn btn-primary">Submit</button>
                </a>
            </div>
        </form>
    </div>

</div>

<script>
var arrayofschools = [];
var arrayoffaculties = [];

$(function() {
    $.ajax({
      url: "/api/schools",
      success: function(result) {
        arrayofschools = result;
        console.log(result);
        $(".autocomplete").autocomplete({
        source: arrayofschools
        })
      } 
    });
  });

  $(function() {
    $.ajax({
      url: "/api/faculties",
      success: function(result2) {
        arrayoffaculties = result2;
        console.log(result2);
        $(".autocomplete2").autocomplete({
        source: arrayoffaculties
        })
      } 
    });
  });
</script>

</body>
</html>