html
  head
    title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  body
    | stuff and stuff
    img(src='./stickman.jpg')
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') NoCoopJob :(
        ul.nav.navbar-nav
          li.active
            a(href='#') Home
          li.dropdown
            a.dropdown-toggle(data-toggle='dropdown', href='#')
              | Schools
              span.caret
            ul.dropdown-menu
              li
                a(href='#') UBC
              li
                a(href='#') UW
              li
                a(href='#') UT
          li
            a(href='frame_b.html', target='frame_a') Highest Rated
          li
            a(href='#') Most Recent
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#')
              span.glyphicon.glyphicon-user
              |  Sign Up
          li
            a(href='#')
              span.glyphicon.glyphicon-log-in
              |  Login
