<html>
<head>
  <title>

  </title>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="/scripts/jquery.rating.pack.js"></script>
  <link rel="stylesheet" href="/stylesheets/jquery.rating.css">


  <style>
  .navbar-form {
    overflow: auto;
  }
  .navbar-form .form-control {
    display: inline-block;
    width: 25%; 
    vertical-align: middle;
  }
  .navbar-form .form-group {
    display: inline;
  }
  .mystyle {
    display: inline;
    font-family: "Lucida Console";
    font-size: 18;

  }
  .container {
    width:500px;
  }

  .mypage {
    width:1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .reviewright {
    margin-left: 150px;
    font-style: bold;
  }   

  </style>


</head>
<body background = "/images/background.jpg">
  <div class = "mypage">

    <div class = "mystyle">
      Stuff and stuff
    </div>
    <img src = "/images/stickman.png" width = "150px" height = "150px">
    <div class = "mystyle">
      You can put stuff here if you want
    </div>
    <nav class="navbar navbar-default" role="navigation">

      <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">NoCoopJob:(</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="../../">Change School</a></li>
          <li><a href="main">Jobs</a></li>

          <li><a href="#">Top Rated</a></li>
          <li><a href="#">Most Recent</a></li>



          <li class="reviewright"><a href="new_review_form"><b><font color = "brown">Submit a Review <img src="/images/write.jpg" width="22px" height="22px"></font></b></a></li>


        </ul> 



        <div class="col-sm-3 col-md-3 pull-right">
          <form class="navbar-form" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" name="q">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </form>
        </div>    

      </div>
    </nav>  


    <div class="container">
      <h2 color="gray"> Rate your co-op experience </h2>
      <br/>

      <form method="POST" action="submit_form">

        <div class="form-group">
          <label>Company Name</label>
          <input id="companyName" name="companyName" class="form-control autocomplete" placeholder="Enter the company name" value="<%= emp %>"/>
        </div>

        <div class="form-group">
          <label>Job Title</label>
          <input id="jobTitle" name="jobTitle" class="form-control autocomplete2" placeholder="Enter the job title" <% if (exists) {"disabled"} %> value="<%= job %>"/>
        </div>

        <div class="form-group">
          <label>Location</label>
          <input id="location" name="location" class="form-control autocomplete3" placeholder="Enter the job location" disabled/>
        </div>

        <div>
          <label>Career Developement Rating</label> <br/>
          <small class="text-muted">Select from 1 (lowest) to 5 (highest)</small> 
          <br/>
          <input name="career" type="radio" class="star" value="1"/> 
          <input name="career" type="radio" class="star" value="2"/> 
          <input name="career" type="radio" class="star" value="3"/> 
          <input name="career" type="radio" class="star" value="4"/> 
          <input name="career" type="radio" class="star" value="5"/> 
          <br/>
        </div>

        <div>
          <label>Company Culture Rating</label> <br/>
          <small class="text-muted">Select from 1 (lowest) to 5 (highest)</small>       
          <br/>
          <input name="culture" type="radio" class="star" value="1"/> 
          <input name="culture" type="radio" class="star" value="2"/> 
          <input name="culture" type="radio" class="star" value="3"/> 
          <input name="culture" type="radio" class="star" value="4"/> 
          <input name="culture" type="radio" class="star" value="5"/> 
          <br/>
        </div>

        <div>
          <label>Compensation Rating</label> <br/>
          <small class="text-muted">Select from 1 (lowest) to 5 (highest)</small>       
          <br/>
          <input name="compensation" type="radio" class="star" value="1"/> 
          <input name="compensation" type="radio" class="star" value="2"/> 
          <input name="compensation" type="radio" class="star" value="3"/> 
          <input name="compensation" type="radio" class="star" value="4"/> 
          <input name="compensation" type="radio" class="star" value="5"/> 
          <br/>
        </div>

        <br/>

        <fieldset class="form-group">
          <label for="exampleSelect1">Monthly Salary Range (CAD)</label>
          <select name="salary" class="form-control" id="exampleSelect1">
            <option>Select below</option>
            <option value="2000">1600 - 2400</option>
            <option value="2800">2400 - 3200</option>
            <option value="3600">3200 - 4000</option>
            <option value="4400">4000 - 4800</option>
            <option value="5200">4800 - 5600</option>
            <option value="6000">5600 - 6400</option>
            <option value="6400">6400+</option>
          </select>
        </fieldset>

        <fieldset class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
          <small class="text-muted">This is just for comfirmation sake. We will never share your email with anyone else, or send you anything.</small>
        </fieldset>

        <fieldset class="form-group">
          <label for="exampleTextarea">Additional Comments</label>
          <textarea name="comments" class="form-control" id="exampleTextarea" rows="3"></textarea>
        </fieldset>

        <br/>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>

    <script>

    var arrayofjobs = [];
    var arrayofcompanies = [];
    var arrayoflocations = [];


    $(function() {
      $.ajax({
        url: "api/companies",
        success: function(result2) {
          arrayofcompanies = result2;
          console.log(result2);
          $(".autocomplete").autocomplete({
            source: arrayofcompanies
          })
        } 
      });
    });


    $(function() {
      $.ajax({
        url: "api/jobtitles",
        success: function(result) {
          arrayofjobs = result;
          console.log(result);
          $(".autocomplete2").autocomplete({
            source: arrayofjobs
          })
        } 
      });
    });

    $(function() {
      $.ajax({
        url: "api/locations",
        success: function(result3) {
          arrayoflocations = result3;
          console.log(result3);
          $(".autocomplete3").autocomplete({
            source: arrayoflocations
          })
        } 
      });
    });

    $(document).ready(function(){
      $("#companyName").bind('autocompletechange change', function(){
        $("#jobTitle").prop('disabled', !($(this).val()))
      });
    });

    $(document).ready(function(){
      $("#jobTitle").bind('autocompletechange change', function(){
        $("#location").prop('disabled', !($(this).val()))
      });
    });

    </script>
  </div>
</body>
</html>